@font-face {
	font-family: 'droidsansmono';
	src: url('../fonts/DroidSansMono-webfont.eot');
	src: url('../fonts/DroidSansMono-webfont.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DroidSansMono-webfont.woff') format('woff'),
		 url('../fonts/DroidSansMono-webfont.ttf') format('truetype'),
		 url('../fonts/DroidSansMono-webfont.svg#droid_sans_monoregular') format('svg');
	font-weight: normal;
	font-style: normal;
}

html,
body {
	height: 100%;
}

body {
	background: #000;
	background: radial-gradient(#333, #000);
	font-family: 'droidsansmono', monospace;
}

canvas {
	background: #000;
	box-shadow: 0 0 0 10px rgba(255, 255, 255, 0.075);
	cursor: none;
}